@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
}

body{
    width: 100vw;
    height: 300vh;
    background-size: 100vw 180vh;
    overflow-x: hidden;
    font-family: "Pacifico", cursive;
    overflow-x: hidden;
}

:root {
    --rosa-escuro: #dd7ca3;
    --rosa-pastel: #f7cedd;
    --pessego-claro: #fbbf93;
    --verde-menta: #a3e0b6;
    --amarelo-suave: #fff5b7;
    --azul-pastel: #b3e5fc;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 10px 20px;
}

nav{
    margin-top: 1rem;
}

nav ul li {
    margin: 0 auto;
}

nav ul li a {
    color: white;
    font-size: 1.5rem;
}

nav ul li a:hover{
    color: var(--rosa-escuro);    
}

.home {
    height: 100vh;
    background-image: url('assets/jc.webp');
    background-size: cover;
    background-position: center;
    position: relative;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
}

.container p {
    font-size: 24px;
    margin-bottom: 20px;
}

.container button {
    font-family: "Poppins", sans-serif;
    padding: 10px 20px;
    font-size: 18px;
    background-color: var(--rosa-escuro);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.container button:hover {
    background-color: var(--pessego-claro);
    color: #fff;
}

.sobre {
    padding: 100px 0;
    background-color: var(--bg-color-light); 
    position: relative; 
}

.sobre::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.1)); 
    z-index: 0; 
}

.sobre-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 40px; 
}

.sobre-texto {
    flex: 1;
    color: var(--text-color);
}

.sobre-texto h2 {
    font-size: 48px; 
    margin-bottom: 20px;
    color: var(--rosa-escuro);
    letter-spacing: 4px;
    border-bottom: 2px solid var(--pessego-claro); 
}

.sobre-texto p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px; 
    line-height: 1.6;
    margin-bottom: 15px; 
    color: #3d251e;
    text-align: justify;
}

.sobre-logo {
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rosa-escuro);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s;
    position: relative;
}

.logo-flutuante {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    filter: saturate(1.5) drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5)); 
    animation: flutuar 3s ease-in-out infinite; 
}

@keyframes flutuar {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-10px); 
    }
    100% {
        transform: translateY(0); 
    }
}

.sobre-logo img {
    filter: saturate(1.5) drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5)); 
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.3)); 
}

.sobre-logo:hover {
    transform: scale(1.05); 
}

/* Estilização da seção do catálogo */
.catalogo {
    padding: 60px 20px;
    background-color: var(--bg-color-light);
    text-align: center;
}

.catalogo h2 {
    font-size: 48px;
    margin-bottom: 40px;
    color: var(--rosa-escuro);
}

.catalogo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.bolo-item {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); 
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: flutuar 5s ease-in-out infinite; 
    border: 1px solid var(--rosa-escuro);
}

.bolo-item:hover {
    transform: translateY(-10px); 
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3); 
}

.bolo-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.bolo-item p {
    font-size: 2rem;
    color: #3d251e;
}

@keyframes flutuar {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-10px); 
    }
    100% {
        transform: translateY(0); 
    }
}

/* Seção do catálogo de brinquedos */

.catalogo-brinquedo h2{
    font-size: 48px; 
    margin-bottom: 20px;
    color: var(--rosa-escuro);
    letter-spacing: 4px;
    text-align: center;
    display: none;
}

.catalogo-brinquedo {
    position: relative;
    background-image: url('assets/bolinhas.jpg'); 
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    z-index: 1;
    overflow: hidden;
}

.catalogo-brinquedo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1;
}

.catalogo-container-brinquedo{
    display: flex;
    justify-content: center;
    gap: 4rem;
    position: relative;
    z-index: 2; 
}

.brinquedo-item {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: flutuar 5s ease-in-out infinite;
    border: 3px solid transparent;
    width: 250px;
    text-align: center;
}

.brinquedo-item p{
    font-size: 1.5rem;
}

.brinquedo1 {
    border-color: var(--rosa-escuro);
}

.brinquedo2 {
    border-color: var(--azul-pastel);
}

.brinquedo3 {
    border-color: var(--pessego-claro);
}

.brinquedo4 {
    border-color: var(--verde-menta);
}

.brinquedo-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
}
    
}

.brinquedo-item:hover, .bolo-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

.site-footer {
    background-color: var(--rosa-pastel); 
    padding: 20px;
    text-align: center;
    color: var(--rosa-escuro); 
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content p {
    margin: 0;
}

/* Estilo Responsivo */
@media (max-width: 1290px){
    .brinquedo-item {
        width: 220px;
    }
}

@media (max-width: 1140px){
    .brinquedo-item{
        width: 180px;
    }
}

@media (max-width: 1000px) {
    .sobre-container {
        flex-direction: column;
        text-align: center;
    }

    .sobre-logo {
        margin-top: 30px;
    }

    .sobre-texto h2 {
        font-size: 36px; 
    }

    .sobre-texto p {
        font-size: 18px; 
    }
}

@media (max-width: 980px){
    .catalogo-brinquedo h2{
        display: flex;
        justify-content: center;
    }

    .brinquedo-item p{
        display: flex;
        margin: 0 auto;
    }

    .catalogo-brinquedo{
        background-image: none;
    }

    .catalogo-brinquedo::before{
        background: none;
    }
}

@media (max-width: 940px){
    .catalogo-container-brinquedo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .brinquedo-item{
        width: 250px;
    }

    .brinquedo-item p{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 850px){
    .catalogo-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 740px) {
    .container{
        width: 80%;
        font-size: 20px;
    }
}

@media (max-width: 600px){
    .catalogo-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        max-width: 500px;
        margin: 0 auto;
    }

    .bolo-item p {
        font-size: 1.5rem;
    }
}

@media (max-width: 450px){
    .container p{
        font-size: 18px;
    }

    .catalogo-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;

        gap: 30px;
        max-width: 500px;
        margin: 0 auto;
    }
}
